@model Nazar1988.Models.ViewModels.InformationUserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <div class="user-account">
        <div class="row">
            
            <div class="col-md-9 col-sm-8 col-xs-12">
                <section class="user-account-content">
                    <header><h1> داشبورد </h1></header>
                    <div class="inner">
                        <div class="account-information">
                            <h3> اطلاعات کاربری </h3>
                            <ul>
                                <li> <i class="zmdi zmdi-assignment-account"></i> نام کاربری : @Model.UserName </li>
                                <li> <i class="zmdi zmdi-email"></i> ایمیل : @Model.Email  </li>
                                <li> <i class="zmdi zmdi-calendar-check"></i> تاریخ عضویت : @Model.RegisterDate.ToShamsi() </li>
                                <li> <i class="zmdi zmdi-account"></i>  اعتبار حساب : @Model.Wallet.ToString("#,0 تومان") </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

