@{
    ViewData["Title"] = "OnlinePaymentWallet";
}

<h1>نتیجه پرداخت</h1>
<hr />
<div class="alert alert-success">
    <h2>کاربر گرامی با تشکر از پرداخت شما</h2>
    <p>کد پیگیری شما : @ViewBag.code</p>
    <a class="bg-success" asp-action="index">بازگشت به صفحه اصلی</a>
</div>
